/* Original content */
#origView{
	min-height: 100%;
	height: 100%;
}

#origView.hide-origView{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1px;
	overflow: hidden;
}
/* Original content */


/* PVM content */
/* wrapper */
#pvm{
	display: none;
}

#pvm.pvm-activate{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: auto;
	min-height: 100%;
	z-index: 100000;
	margin: 0;
	padding: 0;
}

#pvm #PVM_wrapper{
	margin: 0 auto;
	max-width: 1170px;
}
/* wrapper */


/* all tag */
#pvm *{	
	position: relative;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	visibility: visible;
	width: 100%;
	height: auto;	
	border: 0;
	border-color: inherit;
	background: none;
	color: inherit;
	font-size: 100%;
	font: inherit;
	text-align: left;
	line-height: 1.7;
	letter-spacing: inherit;
	vertical-align: baseline;	
	box-shadow: none;
	text-shadow: none;
}

#pvm *:before,
#pvm *:after{
	position: relative;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	visibility: visible;
	width: auto;
	height: auto;	
	border: 0;
	border-color: inherit;
	background: none;
	color: inherit;
	font-size: 100%;
	font: inherit;
	text-align: left;
	line-height: 1.7;
	letter-spacing: inherit;
	vertical-align: baseline;	
	box-shadow: none;
	text-shadow: none;
}
/* all tag */


/* block elements */
#pvm address,
#pvm article,
#pvm aside,
#pvm audio,
#pvm blockquote,
#pvm canvas,
#pvm dd,
#pvm div,
#pvm dl,
#pvm fieldset,
#pvm figcaption,
#pvm figure,
#pvm form,
#pvm footer,
#pvm h1,
#pvm h2,
#pvm h3,
#pvm h4,
#pvm h5,
#pvm h6,
#pvm header,
#pvm hgroup,
#pvm hr,
#pvm ol,
#pvm li,
#pvm main,
#pvm nav,
#pvm noscript,
#pvm output,
#pvm p,
#pvm pre,
#pvm section,
#pvm table,
#pvm tfoot,
#pvm ul,
#pvm video{
	display: block;
}
/* block elements */


/* inline elements */
#pvm a,
#pvm b,
#pvm big,
#pvm i,
#pvm small,
#pvm tt,
#pvm abbr,
#pvm acronym,
#pvm cite,
#pvm code,
#pvm dfn,
#pvm em,
#pvm kbd,
#pvm strong,
#pvm samp,
#pvm time,
#pvm var,
#pvm bdo,
#pvm br,
#pvm img,
#pvm map,
#pvm object,
#pvm q,
#pvm span,
#pvm sub,
#pvm sup,
#pvm button,
#pvm input,
#pvm label,
#pvm select,
#pvm textarea{
	display: inline;
}
/* inline elements */


/*Hide elements*/
#pvm .PVM-hide{
	display: none;
}
/*Hide elements*/


/* heading */
#pvm h1,
#pvm h2,
#pvm h3,
#pvm h4,
#pvm h5,
#pvm h6{
	font-size: 1.6em;
	text-align: center;
	line-height: 1.35;
}

#pvm h1{
	margin: 60px 0 10px;
	font-size: 2em;
}

#pvm h1:first-child{
	margin: 0;
}

#pvm h2{
	margin: 45px 0 10px;
	font-size: 1.8em;
}

#pvm h3{
	font-size: 1.5em;
}

#pvm h4{
	font-size: 1.3em;
}
/* heading */


/* Lists */
#pvm li{
	display: list-item;
}
/* Lists */


/* Links */
#pvm a{
	text-decoration: underline;
}

.PVM-links-text{
	display: block;
}
/* Links */


/* Tables */
#pvm table{
	display: table;
}

#pvm table,
#pvm td, 
#pvm th{
	border-width: 1px;
	border-style: solid;
	border-color: inherit;
	border-collapse: collapse;
}

#pvm th{
	font-weight: bold;
	text-align: center;
}

#pvm td, 
#pvm th{
	padding: 10px;
	width: auto;
	height: auto;
}
/* Tables */


/* Forms */
#pvm fieldset{
	margin: 25px 0;
}

#pvm input[type="text"],
#pvm textarea{
	border-width: 2px;
	border-style: solid;
	border-color: inherit;
}

#pvm input[type="checkbox"],
#pvm input[type="radio"]{
	width: auto;
	height: auto;
}
/* Forms */


/* Buttons */
#pvm button,
#pvm input[type="button"],
#pvm input[type="submit"],
#pvm input[type="reset"]{
  padding: 5px 15px;
  border-width: 2px;
	border-style: solid;
	border-color: inherit;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;  
}
/* Buttons */


/* Menu */
#pvm .PVM-wrapper-menu{
	margin-top: 25px;
	text-align: center;
}

#pvm .PVM-menu-toogle-button{	
	padding: 0;
	width: 50%;
	height: 50px;
	border-width: 2px;
	border-style: solid;
	border-color: inherit;
	text-align: center;
	line-height: 50px;
}

#pvm ul.PVM-menu{
	display: none;
	list-style: none;
}

#pvm ul.PVM-menu li{
	display: block;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: inherit;
}

#pvm ul.PVM-menu li:first-child{
	border-top: none;
}

#pvm ul.PVM-menu a{
	display: block;
	text-decoration: none;
	line-height: 60px;
}

#pvm ul.PVM-menu a:hover,
#pvm ul.PVM-menu a:active,
#pvm ul.PVM-menu a:focus,
#pvm ul.PVM-menu a.highlighter{
	background: none;
	text-decoration: none;
}

#pvm ul.PVM-menu ul{
	display: none;
}

/* Menu arrow */
#pvm .PVM-menu-arrow{
	position: absolute;
	margin-top: 15px;
	height: 30px;	
	width: 30px;
	top: 0;
	left: auto;
	right: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: inherit;
	text-align: center;
	line-height: 30px;
	letter-spacing: 0;
	cursor: pointer;
}
/* Menu arrow */

#pvm ul.PVM-menu ul a{
	padding-left: 20px;
}

#pvm ul.PVM-menu ul ul a{
	padding-left: 40px;
}
/* Menu */



/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
 /*-*-*-*-*-*-*-*-*-*-*-*-*-*-PVM toolbar*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/

/* PVM toolbar */
#pvm .PVM-wrapper-toolbar{
	padding: 5px 0 10px;
	background-color: #dfe6ec;
	color: #000;
}

#pvm .PVM-toolbar{
	position: relative;
	font-family: Arial;
	font-weight: bold;
	text-align: center;
	letter-spacing: 0;
}

#pvm .PVM-toolbar-items{
	padding-bottom: 20px;
}

#pvm .PVM-toolbar-items:after{
	position: relative;
	bottom: -10px;
	left: 5%;
	content: '';
	display: table;
	width: 90%;
	height: 1px;
	background-color: #bccddb;
	clear: both;
}

#pvm .PVM-toolbar-item{
	width: 25%;
	float: left;
	height: 80px;
}

#pvm .PVM-toolbar-item h2{
	margin: 0;
	font-size: 16px;
	text-transform: uppercase;
}

#pvm .PVM-toolbar-item ul{
	margin-top: 8px;
	text-align: center;
}

#pvm .PVM-toolbar-item li{
	display: inline-block;
	width: 39px;
	height: 39px;
}

#pvm .PVM-toolbar-item li + *{
	margin-left: 5px;
}

#pvm .PVM-toolbar-item button{
	position: relative;
	width: 100%;
	height: 100%;	
	border-radius: 50%;	
	font-size: 18px;
}

#pvm .PVM-toolbar-button{
	width: auto;
	border: 3px solid #586571;
	background-color: #fff;
	cursor: pointer;
	text-transform: none;
	transition: 0.25s;
	outline: none;
}

#pvm .PVM-toolbar-button:hover,
#pvm .PVM-toolbar-button.PVM-active-button{
	border: 3px solid #ff6c00;
	box-shadow: 0 0 5px 0 #ff6c00;
}

#pvm .PVM-toolbar-item span{
	position: absolute;
	top: 5px;
	left: 5px;
	width: auto;
	height: auto;
	line-height: 1.35;
}

#pvm .PVM-toolbar-item .PVM-button-big span{
	top: 7px;
	left: 12px;
	font-size: 14px;
}

#pvm .PVM-toolbar-item .PVM-button-bigger span{
	top: 2px;
	left: 9px;
	font-size: 22px;
}

#pvm .PVM-toolbar-item .PVM-button-biggest span{
	top: -4px;
	left: 5px;
	font-size: 30px;
}

#pvm .PVM-toolbar-item .PVM-button-white span{}
#pvm .PVM-toolbar-item .PVM-button-black span{}
#pvm .PVM-toolbar-item .PVM-button-blue span{}

#pvm .PVM-toolbar-item .PVM-button-ls1 span{
	letter-spacing: normal;
}

#pvm .PVM-toolbar-item .PVM-button-ls2 span{
	left: 2px;
	letter-spacing: 5px;
}

#pvm .PVM-toolbar-item .PVM-button-ls3 span{
	left: 1px;
	letter-spacing: 7px;
}


#pvm .PVM-toolbar-item .PVM-button-serif span{
	font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
}

#pvm .PVM-normal-view{
	margin-top: 5px;
	padding: 10px 13px;
	font-size: 16px;
}

#pvm .PVM-toggle-toolbar{
  margin-left: auto;
  padding: 4px 10px;
  display: block;
  width: auto;
  border: none;
  background-color: #dfe6ec;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #000;
  letter-spacing: 0;
  cursor: pointer;
  outline: none;
	text-transform: none;
}
/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
 /*-*-*-*-*-*-*-*-*-*-*-*-*-*-PVM toolbar*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/




/* PVM preloader */
.pvm-preloader{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  background-color: #19f;
}

.pvm-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -75px;
	margin-left: -75px;
	display: block;
  width: 150px;
  height: 150px;
  background-image: url(../../images/pvm_icon.png);
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  animation: anim-preloader 1500ms infinite ease;
}


@keyframes anim-preloader{
	0%{
		transform: scale(1);
	}

	50%{
		transform: scale(1.2);
	}

	100%{
		transform: scale(1);
	}
}
/* PVM preloader */

/* PVM content */